{% extends 'bootstrap/base.html' %}

{% block title %} Jogos da Mega  {% endblock %}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

{% endblock %}


{% block content %}
<div class="card">
  <h1 class="card-header"> Jogos da Mega </h1>
  <div class="card-body">
    <p class="card-text">
      <input type="integer" id="num_jogos" name="num_jogos" placeholder="Numero de Jogos">
      <button type='button' id ='retrieve' class="btn btn-success">Gerar</button>
    </p>
  </div>
</div>
<hr>
<div id="result"></div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type=text/javascript>
$(document).ready(function() {
       $('#retrieve').click(function(){
           var num_jogos = $('#num_jogos').val();
           $.ajax({
           url: "/gerar",
           type: "get",
           data: {num_jogos: num_jogos},
           success: function(response) {
             var todos_jogos="";
             for (var i = 0; i<response.jogos.length; i++){
               var temp = response.jogos[i] + "<br>";
               todos_jogos = todos_jogos.concat(temp)
             };

           $('#result').html(todos_jogos)
          },
          error: function(xhr) {
            //Do Something to handle error
         }
         });
       });
    });
</script>
{% endblock %}
